<div class="example-container mat-elevation-z8">
  <mat-toolbar color="accent">
    <span i18n>Projekti</span>
  </mat-toolbar>
  <table mat-table #table matSort [dataSource]="dataSource" style="width: 100%">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Title Column -->
    <ng-container matColumnDef="naziv">
      <th mat-header-cell *matHeaderCellDef i18n>Naziv</th>
      <td mat-cell *matCellDef="let element" class="naziv-col">
        {{element.naziv}}
      </td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="datum">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Datum nastanka</th>
      <td mat-cell *matCellDef="let element">{{element.datum | date}}</td>
    </ng-container>

    <ng-container matColumnDef="alert">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"
          mat-button matBadge="!" matBadgeSize="medium" matBadgePosition="before" matBadgeColor="warn"
          [matBadgeHidden]="element.error != 'true'"
          i18n-matTooltip matTooltip="Presežena količina dovoljenega dolga" matTooltipPosition="before"
          [matTooltipDisabled]="element.error != 'true'"> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row i18n-matTooltip matTooltip="Pritisni za ogled projekta" matTooltipPosition="after" *matRowDef="let row; columns: displayedColumns;"
        [routerLink]="['/', { outlets: {primary: ['projekt-podrobnosti',row._id], dolg: ['dolgovi-od-projekta'] } }]"></tr>
  </table>
</div>
<div *ngIf="loadCompleted == false" style="width: 100%">
  <mat-spinner></mat-spinner>
</div>