<mat-toolbar color="accent">
  <span i18n>Dodaj nov projekt</span>
</mat-toolbar>
<mat-divider></mat-divider>
<div mat-dialog-actions>
   <form [formGroup]="projektForm" (ngSubmit)="onFormSubmit(projektForm.value)">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label i18n>Naziv</mat-label>
      <input matInput i18n-placeholder placeholder="Naziv" formControlName="naziv"
             >
      <mat-error>
        <span *ngIf="!projektForm.get('naziv').valid && projektForm.get('naziv').touched" i18n>Prosim vnesite naziv</span>
      </mat-error>
    </mat-form-field>

     <mat-form-field class="example-full-width" appearance="outline">
       <mat-label i18n>Član 1</mat-label>
       <input matInput i18n-placeholder placeholder="Člani" formControlName="clan"
              >
       <mat-error>
         <span *ngIf="!projektForm.get('clan').valid && projektForm.get('clan').touched" i18n>Prosim vnesite člane</span>
       </mat-error>
     </mat-form-field>
     <mat-form-field *ngIf="stevec1 == true" class="example-full-width" appearance="outline">
       <mat-label i18n>Član 2</mat-label>
       <input matInput i18n-placeholder placeholder="Člani" formControlName="clan1"
              >
       <mat-error>
         <span *ngIf="!projektForm.get('clan1').valid && projektForm.get('clan1').touched" i18n>Prosim vnesite člane</span>
       </mat-error>
     </mat-form-field>
     <mat-form-field *ngIf="stevec2 == true" class="example-full-width" appearance="outline">
       <mat-label i18n>Član 3</mat-label>
       <input matInput i18n-placeholder placeholder="Člani" formControlName="clan2"
              >
       <mat-error>
         <span *ngIf="!projektForm.get('clan2').valid && projektForm.get('clan2').touched" i18n>Prosim vnesite člane</span>
       </mat-error>
     </mat-form-field>
     <mat-form-field *ngIf="stevec3 == true" class="example-full-width" appearance="outline">
       <mat-label i18n>Član 4</mat-label>
       <input matInput i18n-placeholder placeholder="Člani" formControlName="clan3"
              >
       <mat-error>
         <span *ngIf="!projektForm.get('clan3').valid && projektForm.get('clan3').touched" i18n>Prosim vnesite člane</span>
       </mat-error>
     </mat-form-field>
     <mat-form-field *ngIf="stevec4 == true" class="example-full-width" appearance="outline">
       <mat-label>Član 5</mat-label>
       <input matInput i18n-placeholder placeholder="Člani" formControlName="clan4"
              >
       <mat-error>
         <span *ngIf="!projektForm.get('clan4').valid && projektForm.get('clan4').touched" i18n>Prosim vnesite člane</span>
       </mat-error>
     </mat-form-field>
     <mat-form-field *ngIf="stevec5 == true" class="example-full-width" appearance="outline">
       <mat-label i18n>Član 6</mat-label>
       <input matInput i18n-placeholder placeholder="Člani" formControlName="clan5"
              >
       <mat-error>
         <span *ngIf="!projektForm.get('clan5').valid && projektForm.get('clan5').touched" i18n>Prosim vnesite člane</span>
       </mat-error>
     </mat-form-field>
     <mat-form-field *ngIf="stevec6 == true" class="example-full-width" appearance="outline">
       <mat-label i18n>Član 7</mat-label>
       <input matInput i18n-placeholder placeholder="Člani" formControlName="clan6"
              >
       <mat-error>
         <span *ngIf="!projektForm.get('clan6').valid && projektForm.get('clan6').touched" i18n>Prosim vnesite člane</span>
       </mat-error>
     </mat-form-field>
     <mat-form-field *ngIf="stevec7 == true" class="example-full-width" appearance="outline">
       <mat-label i18n>Član 8</mat-label>
       <input matInput i18n-placeholder placeholder="Člani" formControlName="clan7"
              >
       <mat-error>
         <span *ngIf="!projektForm.get('clan7').valid && projektForm.get('clan7').touched" i18n>Prosim vnesite člane</span>
       </mat-error>
     </mat-form-field>
     <mat-form-field *ngIf="stevec8 == true" class="example-full-width" appearance="outline">
       <mat-label i18n>Član 9</mat-label>
       <input matInput i18n-placeholder placeholder="Člani" formControlName="clan8"
              >
       <mat-error>
         <span *ngIf="!projektForm.get('clan8').valid && projektForm.get('clan8').touched" i18n>Prosim vnesite člane</span>
       </mat-error>
     </mat-form-field>
     <mat-form-field *ngIf="stevec9 == true" class="example-full-width" appearance="outline">
       <mat-label i18n>Član 10</mat-label>
       <input matInput i18n-placeholder placeholder="Člani" formControlName="clan9"
              >
       <mat-error>
         <span *ngIf="!projektForm.get('clan9').valid && projektForm.get('clan9').touched" i18n>Prosim vnesite člane</span>
       </mat-error>
     </mat-form-field>
     <mat-icon i18n-matTooltip matTooltip="Vpišite elektronski naslov člana" matTooltipPosition="after">help</mat-icon>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label i18n>Ocena v</mat-label>
        <mat-select i18n-placeholder placeholder="Ocena v" formControlName="tip_ocena"
                  >
          <mat-option value="€" (click)="eur_izbira()">€</mat-option>
          <mat-option i18n-matTooltip matTooltip="En dan predstavlja delovni dan zaposlenega v mesecu" matTooltipPosition="after"
                      i18n-value value="število dni" (click)="dnevi_izbira()" i18n>Število dni</mat-option>
      </mat-select>
      <mat-error>
        <span
          *ngIf="!projektForm.get('tip_ocena').valid && projektForm.get('tip_ocena').touched" i18n>Prosim vnesite tip ocene</span>
      </mat-error>
    </mat-form-field>

     <mat-icon i18n-matTooltip matTooltip="Izberite tip ocene v kateri boste vnašali ocene dolgov" matTooltipPosition="after">help</mat-icon>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label i18n>Zgornja meja dolga</mat-label>
    <input matInput class="example-right-align" type="number" i18n-placeholder placeholder="Zgornja meja dolga" formControlName="zgornja_meja_dolga"
              >
      <span *ngIf="eur == true" matSuffix>€</span>
      <span *ngIf="dnevi == true" matSuffix i18n>število dni</span>
      <mat-error>
        <span *ngIf="!projektForm.get('zgornja_meja_dolga').valid && projektForm.get('zgornja_meja_dolga').touched" i18n>Prosim vnesite zgornjo mejo dolga</span>
      </mat-error>
    </mat-form-field>
     <mat-icon i18n-matTooltip matTooltip="Vpišite največjo dovoljeno količino dolga" matTooltipPosition="after">help</mat-icon>
     <mat-divider></mat-divider>
    <div class="button-row">
      <button type="submit" [disabled]="!projektForm.valid" mat-raised-button color="accent" i18n-matTooltip matTooltip="Shrani projekt" matTooltipPosition="left">
        <mat-icon>save</mat-icon>
      </button>
    </div>
  </form>
  <mat-divider></mat-divider>
  <button mat-stroked-button i18n-matTooltip matTooltip="Dodaj vnosno polje za novega člana" matTooltipPosition="below" (click)="dodajClana()" i18n>Dodaj člana</button>
  &nbsp;
  <button mat-button (click)="onNoClick()" i18n>Zapri</button>
</div>

