<mat-toolbar color="accent">
    <span i18n>Podrobnosti projekta</span>
</mat-toolbar>
<div class="button-row">
  <a mat-raised-button color="accent" i18n-matTooltip matTooltip="Vsi projekti" matTooltipPosition="right"
     [routerLink]="['/', { outlets: {primary: ['projekti'], dolg: ['dolgovi'] } }]">
    <mat-icon>arrow_back</mat-icon>
  </a>
</div>
<div class="flex-container-vertical-main mat-elevation-z5">
  <div>
    <div class="flex-container-vertical-head mat-elevation-z5">
      <div style="color: black;
           overflow: hidden;
            text-overflow: ellipsis;
                   white-space: nowrap;"><b>{{projekt.naziv}}</b></div>
      <div style="font-size: 20px; color: darkgrey">{{projekt.datum | date}}</div>
    </div>
  </div>
  <div>
    <div class="flex-container-horizontal-name-date">
      <div><b i18n>Naziv:</b>&nbsp;{{projekt.naziv}}</div>
      <div>
        <mat-icon>date_range</mat-icon>
        {{projekt.datum | date}}
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div>
    <div class="flex-container-horizontal-data-members">
      <div>
        <div class="flex-container-vertical-data">
          <div><b i18n>Ocena dolgov v:</b>&nbsp;{{projekt.tip_ocena}}</div>
          <div *ngIf="projekt.tip_ocena == '€'">
            <b i18n>Zgornja meja dolga:</b>&nbsp;{{projekt.zgornja_meja_dolga}}&nbsp;{{projekt.tip_ocena}}
          </div>
          <div *ngIf="projekt.tip_ocena == 'število dni' || projekt.tip_ocena == 'number of days'">
            <b i18n>Zgornja meja dolga:</b>&nbsp;{{projekt.zgornja_meja_dolga}}&nbsp;
            <span *ngIf="projekt.zgornja_meja_dolga == 1 " i18n>dan</span>
            <span *ngIf="projekt.zgornja_meja_dolga != 1 " i18n>dni</span>
          </div>
        </div>
      </div>
      <div>
        <div class="flex-container-vertical-members">
          <div>
            <mat-icon>people</mat-icon>&nbsp;<b i18n>Člani:</b></div>
          <div *ngIf="projekt.clan != null">{{projekt.clan}}</div>
          <div *ngIf="projekt.clan1 != null">{{projekt.clan1}}</div>
          <div *ngIf="projekt.clan2 != null">{{projekt.clan2}}</div>
          <div *ngIf="projekt.clan3 != null">{{projekt.clan3}}</div>
          <div *ngIf="projekt.clan4 != null">{{projekt.clan4}}</div>
          <div *ngIf="projekt.clan5 != null">{{projekt.clan5}}</div>
          <div *ngIf="projekt.clan6 != null">{{projekt.clan6}}</div>
          <div *ngIf="projekt.clan7 != null">{{projekt.clan7}}</div>
          <div *ngIf="projekt.clan8 != null">{{projekt.clan8}}</div>
          <div *ngIf="projekt.clan9 != null">{{projekt.clan9}}</div>
          <div *ngIf="projekt.clan == null">&nbsp;</div>
          <div *ngIf="projekt.clan1 == null">&nbsp;</div>
          <div *ngIf="projekt.clan2 == null">&nbsp;</div>
          <div *ngIf="projekt.clan3 == null">&nbsp;</div>
          <div *ngIf="projekt.clan4 == null">&nbsp;</div>
          <div *ngIf="projekt.clan5 == null">&nbsp;</div>
          <div *ngIf="projekt.clan6 == null">&nbsp;</div>
          <div *ngIf="projekt.clan7 == null">&nbsp;</div>
          <div *ngIf="projekt.clan8 == null">&nbsp;</div>
          <div *ngIf="projekt.clan9 == null">&nbsp;</div>
        </div>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div>
    <div class="flex-container-horizontal-edit-delete">
      <div><app-projekt-uredi></app-projekt-uredi></div>
      <div><a mat-raised-button color="warn" i18n-matTooltip matTooltip="Izbriši projekt" matTooltipPosition="below"
              (click)="deleteProjekt(projekt._id)">
        <mat-icon>delete</mat-icon>
      </a></div>
    </div>
  </div>
</div>
