<mat-list class="mat_list_sredina">
  <mat-chip-list>
    <mat-chip color="warn" selected="true"><span i18n>Presežena je dovoljena količina dolga na projektu!</span><br><br><mat-icon>warning</mat-icon></mat-chip>
  </mat-chip-list>
</mat-list>
