<mat-toolbar color="accent">
  <span i18n>Dolgovi izbranega projekta</span>
  <span class="example-fill-remaining-space"></span>
  <span><app-dolg-ustvari></app-dolg-ustvari></span>
</mat-toolbar>
<div class="dolgovi-cards">
    <mat-accordion *ngFor="let tile of tiles">
        <mat-expansion-panel style="overflow: visible;"> 
          <mat-expansion-panel-header >
            <mat-panel-title>
                {{tile.naziv}}
            </mat-panel-title>
            <mat-panel-description>
                <b i18n>&nbsp;Status:</b>&nbsp;{{tile.status}}
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          <div i18n-matTooltip matTooltip="Pritisni za ogled podrobnosti" matTooltipPosition="above"
          [routerLink]="['/',{ outlets: { dolg: ['dolg-podrobnosti', tile.id_dolga] } }]">
              <div style="
              float: right;
              overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap; color: dimgrey">
             <mat-icon>date_range</mat-icon>
             {{tile.datum | date}}
           </div>
              <div style="overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              color: dimgrey">
           <b>&nbsp;{{tip_ocene}}:</b>&nbsp;{{tile.ocena}}
         </div>
            <div *ngIf="tile.vzrok != null" style="color: dimgrey;"><b i18n>Vzrok:</b>&nbsp;{{tile.vzrok}}</div>
            
            
            <div *ngIf="tile.kriticnost == 'blokada' || tile.kriticnost == 'blocker'" matBadge="!" matBadgeSize="medium"
                   matBadgePosition="after" matBadgeColor="warn"
                   style="color: dimgrey; display: inline-block">
                <b i18n>&nbsp;Kritičnost:</b>&nbsp;{{tile.kriticnost}}
              </div>
              <div *ngIf="tile.kriticnost != 'blokada' && tile.kriticnost != 'blocker'" style="color: dimgrey">
                <b i18n>Kritičnost:</b>&nbsp;{{tile.kriticnost}}
              </div>
          </div>

        </mat-expansion-panel>
      </mat-accordion>
</div>
<mat-divider></mat-divider>
<div *ngIf="loadCompleted == false" class="graf">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="loadCompleted" class="graf">
  <google-chart [data]="lineChartData"></google-chart>
</div>

